
#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    width: 956px;
    align-content: center;
    margin-left: 475px;
    border: 2px solid black;
    margin-top: 30px;
}

div{
    display: flex;
    width: inherit;
    height: 30px;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    height:50px;
    margin-top: 40px;
}

h2{
    display: flex;
    justify-content: center;
    height:50px;
}
